.nav {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  &__bg {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 40px;
  }
  .mainMenu {
    &__list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: left;
      margin: 0;
      @media screen and(max-width: 992px){
        flex-direction: column;
        text-align: left;
      }
    }
    &__item {
      @media screen and(max-width: 992px){
        margin-right: 0;
      }
      margin-right: 15px;
      position: relative;
      line-height: 50px;
      a{
        color: #000;
      }
    }
    &__item:hover::after {
      content: '';
      display: block;
      border-bottom: 3px solid $orange;
      width: 100%;
      bottom: -1px;
      position: absolute;
      @media screen and(max-width: 992px){
        display: none;
      }
    }
    &__item:hover > .submenu__list {
      display: block;
      @media screen and(max-width: 992px){
        display: flex;
      }
    }
  }
  .submenu {
    &__list {
      display: none;
      position: absolute;
      bottom: -40px;
      min-width: 500px;
      max-width: 100%;
      text-align: left;
      line-height: 40px;

      @media screen and(max-width: 992px){
        display: flex;
        justify-content: left;
        flex-direction: column;
        position: static;
        min-width: 0;
        max-width: 100%;
        width: auto;
      }
    }
    &__item {
      display: table-cell;
      padding-right: 35px;
      line-height: 40px;
      position: relative;
      a{
        color: #000;
      }
      @media screen and(max-width: 992px){
      padding-right: 0;
    }
    }
    &__item:hover::after {
      content: '';
      display: block;
      border-bottom: 3px solid $orange;
      width: 100%;
      bottom: -2px;
      position: absolute;
      @media screen and(max-width: 992px){
        display: none;
      }
    }
  }
}
