
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin no-outline() {
  outline: none;
  background: transparent;
  &::before {
    display: none;
  }
}

@mixin wrap() {
  &__wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  @media screen and(max-width: 992px) {
    &__wrap {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@mixin grid() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: -10px;
  @media screen and (max-width: 992px){
    margin: 10px;
  }
}

@mixin grid-mix() {
  margin: 10px;
  &--product {
    width: calc((100% - 20px) / 6.66);
    min-width: 178px;
    text-align: left;
  }
  &--info {
    width: calc((100% - 20px) / 3.3);
    text-align: left;
    @media screen and (max-width: 767px) {
      width: calc(100% - 200px);
      margin-left: 20px;
    }
    @media screen and (max-width: 450px) {
      width: 100%;
      margin-left: 0;
      text-align: center;
      margin-top: 10px;
    }
  }
  &--quantity {
    width: calc((100% - 20px) / 14.44);
    @media screen and (max-width: 767px) {
      width: auto;
      margin: 20px auto 0;
    }
  }
  &--price {
    width: calc((100% - 20px) / 3.1);
    @media screen and (max-width: 767px) {
      width: auto;
      margin: 20px auto 0;
    }
  }
  &--del {
    width: calc((100% - 20px) / 14.44);
    @media screen and (max-width: 767px) {
      width: auto;
      margin: 20px auto 0;
    }
  }
  @media screen and (max-width: 992px){
    max-width: 100%;
    box-sizing: border-box;


    @media screen and (max-width: 767px){
      flex: 1 1 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

}

$orange: #ff6c00;