@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic');

html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.App
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    height: 100%;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.root
{
    height: 100%;
}

.mainContent
{
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

.footer
{
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

body
{
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: black;
    background-color: #fff;
}

img
{
    max-width: 100%;
    height: auto;
}

a,
a:hover
{
    text-decoration: none;
}

a:visited
{
    color: #000;
}

ul
{
    padding-left: 0;
}

li
{
    list-style: none;
}

.wrapper
{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

    text-align: center;
}

.preHeader
{
    background-color: #e4e4e4;
}

.preHeader__wrap
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.preHeader .phone__number
{
    font-size: 18px;
    line-height: 40px;

    vertical-align: middle;
}

.preHeader .phone__text
{
    font-size: 12px;
    line-height: 40px;

    vertical-align: middle;
}

.preHeader .video
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
}

.preHeader .blog__link
{
    height: 100%;

    vertical-align: middle;
}

.preHeader .blog__logo
{
    vertical-align: middle;
}

.preHeader .blog__text
{
    line-height: 40px;
}

.preHeader .youtubeHeader
{
    margin-left: 30px;
}

.preHeader .youtubeHeader__link
{
    height: 100%;

    vertical-align: middle;
}

.preHeader .youtubeHeader__logo
{
    vertical-align: middle;
}

.preHeader .youtubeHeader__text
{
    line-height: 40px;
}

.preHeader .onlineVideo
{
    margin-left: 30px;
}

.preHeader .onlineVideo__link
{
    height: 100%;

    vertical-align: middle;
}

.preHeader .onlineVideo__logo
{
    vertical-align: middle;
}

.preHeader .onlineVideo__text
{
    line-height: 40px;
}

.header
{
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
}

.header__wrap
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__static
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-top: 17px;
    margin-bottom: 17px;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.header .logo
{
    font-size: 0;
}

.header .headerSearch
{
    margin-left: 100px;
}

.header .headerSearch__input::-webkit-input-placeholder
{
    color: #000;
}

.header .headerSearch__input:-ms-input-placeholder
{
    color: #000;
}

.header .headerSearch__input::placeholder
{
    color: #000;
}

.header .headerSearch__input
{
    border: none;
    border-bottom: 1px solid #2a2a2a;
    outline: none;
    background: transparent;
}

.header .headerSearch__input::before
{
    display: none;
}

.header .headerSearch__input:focus
{
    border-bottom: 1px solid #ff6c00;
}

.header .headerSearch__btn
{
    position: relative;
    left: -17px;

    padding: 0;

    border: none;
    outline: none;
    background: transparent;
    background-color: transparent;
}

.header .headerSearch__btn::before
{
    display: none;
}

.header__userblock
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.header .account__link
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.header .card
{
    margin-left: 50px;
}

.header .card__link
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.header .card__text
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    margin-left: 10px;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.nav
{
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
}

.nav__bg
{
    margin-bottom: 40px;

    border-bottom: 1px solid #e4e4e4;
    background-color: #f8f8f8;
}

.nav .mainMenu__list
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
            justify-content: left;
}

.nav .mainMenu__item
{
    line-height: 50px;

    position: relative;

    margin-right: 15px;
}

.nav .mainMenu__item:hover::after
{
    position: absolute;
    bottom: -1px;

    display: block;

    width: 100%;

    content: '';

    border-bottom: 3px solid #ff6c00;
}

.nav .mainMenu__item:hover > .submenu__list
{
    display: block;
}

.nav .submenu__list
{
    line-height: 40px;

    position: absolute;
    bottom: -40px;

    display: none;

    min-width: 500px;
    max-width: 100%;

    text-align: left;
}

.nav .submenu__item
{
    line-height: 40px;

    position: relative;

    display: table-cell;

    padding-right: 35px;
}

.nav .submenu__item:hover::after
{
    position: absolute;
    bottom: -2px;

    display: block;

    width: 100%;

    content: '';

    border-bottom: 3px solid #ff6c00;
}

.addtoorder__title
{
    margin-bottom: 36px;

    border-bottom: 2px solid #d9d9d9;
}

.addtoorder__title h3
{
    font-size: 22px;
    font-weight: 500;

    position: relative;
    top: 33px;

    display: inline-block;

    padding: 0 17px;

    background-color: #fff;
}

.addtoorder__list
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.addtoorder__item
{
    max-width: 276px;
    padding-left: 10px;
}

.addtoorder__item:first-child
{
    padding-left: 0;
}

.addtoorder__text
{
    font-size: 16px;

    margin-top: 5px;
    margin-bottom: 0;
}

.addtoorder__price
{
    font-size: 16px;

    margin-top: 5px;
}

.cardLayout
{
    background-color: #fff;
}

.cardLayout__title
{
    margin-bottom: 33px;

    border-bottom: 2px solid #d9d9d9;
}

.cardLayout__title h3
{
    font-size: 22px;
    font-weight: 500;

    position: relative;
    top: 33px;

    display: inline-block;

    padding: 0 17px;

    background-color: #fff;
}

.product__header
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    margin: -10px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.product__title
{
    font-size: 18px;

    margin: 10px;
    margin-bottom: 30px;
}

.product__title--product
{
    width: calc((100% - 20px) / 6.66);
    min-width: 178px;

    text-align: left;
}

.product__title--info
{
    width: calc((100% - 20px) / 3.3);

    text-align: left;
}

.product__title--quantity
{
    width: calc((100% - 20px) / 14.44);
}

.product__title--price
{
    width: calc((100% - 20px) / 3.1);
}

.product__title--del
{
    width: calc((100% - 20px) / 14.44);
}

.product__list
{
    margin: -10px;
}

.product__item
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    margin: 10px;
    margin-bottom: 30px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.product__item--product
{
    width: calc((100% - 20px) / 6.66);
    min-width: 178px;

    text-align: left;
}

.product__item--info
{
    width: calc((100% - 20px) / 3.3);

    text-align: left;
}

.product__item--quantity
{
    width: calc((100% - 20px) / 14.44);
}

.product__item--price
{
    width: calc((100% - 20px) / 3.1);
}

.product__item--del
{
    width: calc((100% - 20px) / 14.44);
}

.product__itemTitle
{
    font-size: 16px;
    font-weight: 500;

    max-width: 250px;
    margin-top: 0;
}

.product__code
{
    display: block;

    color: #808080;
}

.product__size
{
    font-size: 16px;
    font-weight: 500;

    display: block;

    margin: 0;
}

.product__color
{
    font-size: 16px;
    font-weight: 500;

    display: block;

    margin: 0;
}

.product .quantity__dic
{
    color: #8d8d8d;
    border: none;
    outline: none;
    background: transparent;
    background-color: inherit;
}

.product .quantity__dic::before
{
    display: none;
}

.product .quantity__dic:active
{
    color: #ff6c00;
    box-shadow: inset 0 0 1px 0 black;
}

.product .quantity__dic:hover
{
    color: #ff6c00;
}

.product .quantity__inc
{
    border: none;
    outline: none;
    background: transparent;
    background-color: inherit;
}

.product .quantity__inc::before
{
    display: none;
}

.product .quantity__inc:active
{
    color: #ff6c00;
    box-shadow: inset 0 0 1px 0 black;
}

.product .quantity__inc:hover
{
    color: #ff6c00;
}

.product .quantity__res
{
    font-size: 20px;
    font-weight: 500;
}

.product__price
{
    font-size: 16px;
    font-weight: 500;
}

.product .del__btn
{
    padding-top: 4px;

    border: none;
    outline: none;
    background: transparent;
    background-color: inherit;
}

.product .del__btn::before
{
    display: none;
}

.product .del__btn:active
{
    box-shadow: inset 0 0 1px 0 black;
}

.promocode
{
    padding-top: 10px;

    border-top: 2px solid #d9d9d9;
}

.promocode__wrap
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.promocode__block
{
    width: 460px;

    text-align: left;
}

.promocode__input
{
    box-sizing: border-box;
    width: 277px;
    padding: 15px;

    border: 1px solid #dadada;
    outline: none;
    background: transparent;
}

.promocode__input::before
{
    display: none;
}

.promocode__btn
{
    margin-left: 20px;
    padding: 15px 42px;

    color: #fff;
    border: none;
    border-radius: 30px;
    outline: none;
    background: transparent;
    background-color: #b7b7b7;
}

.promocode__btn::before
{
    display: none;
}

.promocode__btn:hover
{
    background-color: #ff6c00;
}

.promocode__btn:active
{
    background-color: #ff6c00;
}

.promocode .total
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 355px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.promocode .total__сheckout
{
    font-size: 16px;

    margin-top: 10px;
    margin-left: 20px;
    padding: 15px 28px;

    color: #fff;
    border: none;
    border-radius: 30px;
    outline: none;
    background: transparent;
    background-color: #ff6c00;
}

.promocode .total__сheckout::before
{
    display: none;
}

.promocode .total__сheckout:hover
{
    background-color: #ff8a00;
}

.promocode .total__сheckout:active
{
    background-color: #ff8a00;
}

.promocode .total__text
{
    font-size: 16px;

    text-align: left;
}

.promocode .total__text--sum
{
    margin-bottom: 5px;
}

.promocode .total__text--promo
{
    margin-top: 0;
    margin-bottom: 26px;

    color: #ff6c00;
}

.promocode .total__sum
{
    font-size: 16px;

    text-align: right;
}

.promocode .total__sum--sum
{
    margin-bottom: 5px;
}

.promocode .total__sum--promo
{
    margin-top: 0;
    margin-bottom: 26px;

    color: #ff6c00;
}

.social
{
    border-bottom: 1px solid #b2b2b2;
    background-color: #2a2a2a;
}

.social__wrap
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.social__wrap
{
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.social__item
{
    font-size: 0;

    margin-right: 8px;
    margin-left: 8px;
}

.social__text
{
    font-size: 16px;
    line-height: 54px;

    margin-top: 10px;
    margin-right: 10px;

    color: #fff;
}

.footerMenu
{
    padding-top: 30px;
    padding-bottom: 46px;

    color: #f3f3f3;
    border-bottom: 1px solid #b2b2b2;
    background-color: #2a2a2a;
}

.footerMenu__wrap
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.footerMenu .footerLogo
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 376px;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
            justify-content: left;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
}

.footerMenu .footerLogo__link
{
    font-size: 30px;

    margin-left: 20px;

    color: #f3f3f3;
}

.footerMenu .footerLogo__link:active
{
    color: #f3f3f3;
}

.footerMenu .footerLogo__link:visited
{
    color: #f3f3f3;
}

.footerMenu .footerLogo__text
{
    margin-left: 20px;

    text-align: left;
}

.footerMenu .footerNav
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 2;
    -ms-flex-negative: 2;
            flex-shrink: 2;
}

.footerMenu .footerNav__list
{
    font-size: 16px;

    margin-top: 0;
    padding-left: 20px;

    text-align: left;
}

.footerMenu .footerNav__item
{
    max-width: 180px;
    margin-bottom: 5px;

    color: #f3f3f3;
}

.footerMenu .footerNav__item--title
{
    font-weight: 500;
}

.copy
{
    padding-top: 38px;
    padding-bottom: 40px;

    color: #cacaca;
    background-color: #2a2a2a;
}

.copy__text
{
    font-size: 12px;
    line-height: 12px;

    margin-top: 0;
    margin-bottom: 3px;
}

@media screen and (max-width: 992px)
{
    .wrapper
    {
        max-width: 972px;
        padding: 0 10px;
    }

    .preHeader__wrap
    {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }

    .header__wrap
    {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }

    .nav .mainMenu__list
    {
                flex-direction: column;

        text-align: left;

        -webkit-flex-direction: column;
            -ms-flex-direction: column;
    }

    .nav .mainMenu__item
    {
        margin-right: 0;
    }

    .nav .mainMenu__item:hover::after
    {
        display: none;
    }

    .nav .mainMenu__item:hover > .submenu__list
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }

    .nav .submenu__list
    {
        position: static;

        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
                flex-direction: column;

        -webkit-justify-content: left;
        -ms-flex-pack: left;
                justify-content: left;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
    }

    .nav .submenu__item
    {
        padding-right: 0;
    }

    .nav .submenu__item:hover::after
    {
        display: none;
    }

    .product__header
    {
        margin: 10px;
    }

    .product__title
    {
        box-sizing: border-box;
        max-width: 100%;
    }

    .product__item
    {
        box-sizing: border-box;
        max-width: 100%;
    }

    .promocode__wrap
    {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }

    .social__wrap
    {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }

    .footerMenu__wrap
    {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }

    .footerMenu .footerLogo
    {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px)
{
    .wrapper
    {
        max-width: 748px;
    }
}

@media screen and (max-width: 767px)
{
    .header .headerSearch
    {
        margin-left: 30px;
    }

    .product__header
    {
        display: none;
    }
}

/*# sourceMappingURL=style.css.map */
